/* Configuraciones generales para el documento */
*{
    margin: 0px;
}

main{
    box-sizing: border-box;
    width: 100vw;
}

/* Configuraciones para el header de todas las páginas */
header{
    background-color: #000000;
    box-sizing: border-box;
    width: 100vw;
    height: 13vh;
}

h1{
    text-align: center;
    color: white;
    position: absolute;
    top: 1vh;
    left: 40vw;
}

nav a{
    background-color: #7f7f7f;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    height: 1.2rem;
    width: 5rem;
    position: relative;
    margin: 1rem 0.5rem;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    top: 6vh;
    left: 25vw;
}

/* Configuración del body de la página Acerca de.... */

h2{
    position: absolute;
    left: 45vw;
    top: 15vh;
}

.cocinando{
    position: relative;
    left: 32.5vw;
    top: 8vh;
}

.sobrenosotros{
    display: inline-block;
    width: 90vw;
    position: relative;
    top: 9vh;
    left: 3vw;
}

.sopita{
    width: 200px;
    height: 200px;
}

/* Configuraciones del formulario de registro */
main div form div{
    margin: 0.4rem;
    display: block;
}

.formulario{
    background-color: #f2f2f2;
    width: 75vw;
    position: relative;
    top: 5vh;
    left: 12.5vw;
}

/* Imágenes de la página "Nuestros clientes" */

main > img{
    height: 30vh;
    width: 30vw;
    position: relative;
    top: 25vh;
    left: 4.5vw;
}

/* Configuración para el footer */
footer{
    color: white;
    background-color: #000000;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
    width: 100vw;
    height: 8vh;
    position: absolute;
    left: 0%;
    top: 130vh;
}

.links{
    width: 20px;
    height: 20px;
}

/* Configuración para celulares */
@media screen and (max-width: 500px){
    /* Header */
    header{
       height: 55vh;
    }

    nav > a{
        display: block;
        width: 100vw;
        height: 7vh;
        margin: 0.5vh 0;
        border-radius: 0;
        top: 7vh;
        left: 0;
    }

    h1{
        position: absolute;
        top: 1vh;
        left: 25vw;
    }
    
    /* Imágenes de la página "Nuestros clientes" */
    main > img{
        height: 30vh;
        width: 90vw;
        position: relative;
        top: 1.5vh;
        left: 2.5vw;
    }

    /* Configuración del body de la página Acerca de.... */

    h2{
        left: 40vw;
        top: 57vh;
    }

    .cocinando{
        left: 3vw;
    }

    .sobrenosotros{
        left: 3vw;
    }

    /* Footer */
    footer{
        top: 245vh;
    }


}