/* Configuraciones generales para el documento */
*{
    margin: 0px;
}

/* Configuraciones para el header de todas las páginas */
header{
    background-color: #000000;
}

h1{
    text-align: center;
    color: white;
}

.sopita{
    width: 200px;
    height: 200px;
}

/* Configuración para el footer */
footer{
    color: white;
    background-color: #000000;
    text-align: center;
    padding: 1%;
    width: 100vw;
    height: 8vh;
    position: absolute;
    top: 130vh;
}

.links{
    width: 20px;
    height: 20px;
}

nav a{
    background-color: #7f7f7f;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    height: 1.2rem;
    width: 5rem;
    position: relative;
    margin: 1rem 0.5rem;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
}

/* Configuraciones del formulario de registro */
main div form div{
    margin: 0.4rem;
    display: block;
}

.formulario{
    background-color: #f2f2f2;
    width: 75vw;
    position: relative;
    top: 5vh;
    left: 12.5vw;
        /* ESTE ES UN COMENTARIO QUE SOLO APARECERÁ EN LA RAMA "PRUEBA" */
}