/* Configuraciones generales para el documento */
*{
    margin: 0px;
}

main{
    box-sizing: border-box;
    width: 100vw;
}

/* Configuraciones para el header de todas las páginas */
header{
    background-color: #212529;
}

h1{
    text-align: center;
    color: white;
}

.nav-link, .navbar-brand{
    position: relative;
    left: 30vw;
}

/* Configuración del body de la página Acerca de.... */

h2{
    position: absolute;
    left: 45vw;
    top: 15vh;
}

.cocinando{
    position: relative;
    left: 32.5vw;
    top: 8vh;
}

.sobrenosotros{
    display: inline-block;
    width: 90vw;
    position: relative;
    top: 9vh;
    left: 3vw;
}

/* Receta principal en el index.html */
.sopaTitulo{
    position: relative;
    top: 3vh;
    left: 35vw;
}

.sopaFoto{
    width: 30vw;
    height: 30vh;
    position: relative;
    top: 7vh;
    left: 33vw;
}

.sopaReceta{
    width: 90vw;
    position: relative;
    top: 10vh;
    left: 5vw;
}

/* Formulario de contacto */
.sugerencias{
    position: relative;
    top: 10vh;
}

/* Configuraciones del formulario de registro */
main div form div{
    margin: 0.4rem;
    display: block;
}

.formulario{
    background-color: #f2f2f2;
    width: 75vw;
    position: relative;
    top: 5vh;
    left: 12.5vw;
}

.formulario h2{
    position: relative;
    left: 24.25vw;
    top: 0;
}

.enviar{
    background-color: #3e9eff;
    color: white;
    width: 7vw;
    height: 5vh;
    border: #3e9eff 2px dotted;
    border-radius: 12%;
    position: relative;
    left: 35vw;
    top: -.5vh;
}

/* Imágenes de la página "Nuestros clientes" */

#carouselExampleControls{
    height: 50vh;
    width: 50vw;
    left: 25vw;
    top: 5vh;
}

/* Configuración para sección sucursales */

.suc1, .suc2, .suc3, .suc4{
    display: inline-block;
    position: relative;
    top: 5vh;
    left: 15vw;
    margin: 3vh;
    text-align: center;
}

/* Configuración para el footer */
footer{
    color: white;
    background-color: #212529;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
    width: 100vw;
    height: 8vh;
    position: absolute;
    left: 0%;
    top: 130vh;
}

.links{
    width: 20px;
    height: 20px;
}

/* Configuración para celulares */
@media screen and (max-width: 500px){
    /* Header */
    header{
        background-color: #212529;
    }
    
    .nav-link, .navbar-brand{
        position: relative;
        left: 40vw;
    }
    
    /* Imágenes de la página "Nuestros clientes" */
    #carouselExampleControls{
        height: 90vh;
        width: 90vw;
        left: 4vw;
        top: 5vh;
    }

    .carousel-control-prev, .carousel-control-next{
        top: 10vh;
        height: 25vh;
    }

    /* Configuración del body de la página Acerca de.... */

    h2{
        left: 40vw;
        top: 57vh;
    }

    .cocinando{
        left: 3vw;
    }

    .sobrenosotros{
        left: 3vw;
    }

    .sopaTitulo{
        left: 20vw;
    }
    
    .sopaFoto{
        width: 60vw;
        height: 60vh;
        top: 10vh;
        left: 20vw;
    }

    /* Formulario de registro */
    .formulario h2{
        position: absolute;
        top: -5vh;
        left: 10vw;
    }

    .enviar{
        width: 15vw;
        left: 30vw;
    }

    /* Configuración para sección sucursales */
    .suc1, .suc2, .suc3, .suc4{
        display: block;
        left: 0vw;
        margin: 3vh;
        text-align: center;
    }

    /* Footer */
    footer{
        top: 280vh;
    }


}